.addclass {
    cursor: pointer;    
}
.popmap {
    .title {
        font-weight: bold;
        font-size: 1.125em;
    }    
}
/*ul*/.mapclass {    
    li {
        padding: 10px 10px 10px 0;
        cursor: pointer;
        &.active, &:hover {
            color: $white;
            background-color: $link-bule;
        }
        i {
            color: #abb0b9;
        }        
    }
    li.li-item-b,
    li.li-item-c {
        &.active, &:hover {
            color: $black;
            background-color: #eee;            
        }
        &.active {
            .active-icon {
                display: inline-block;
            }
        }
        .active-icon {
            display: none;
        }
    }
}
/*ul*/.sureclass {
    li {
        padding: 10px 10px 10px 0;
        cursor: pointer;
        i {
            color: $link-bule;
        }
    }
}