

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$line-height: 1;
$font-size-normal: 16px;




$Gray: #e6e6e6;
$DarkGray: #ccc;
$PantoneBlue: #007dff;


$white: #fff;
$black: #000;
// TEXT
$text-gray: #6d6d72;
// BG
$bg-gray: #ccc;
$bg-lightgray: #efeff4;
// BUTTON
$btn-blue: #56baed;
// LINK
$link-bule: #007aff;
$link-ligntbule: #c9e3ff;
// ICON
$icon-gray: #555;
// LINE
$line-gray: #d2d2d7;
$line-lightgray: #e4e4e6;


// Reference: https://purecss.io/grids/
$sm: 35.5em; // 568px
$sm_unless: 567px; 
$md: 48em; // 768px
$md_unless: 767px; 
$lg: 64em; // 1024px
$lg_unless: 1023px; 
$xl: 80em; // 1280px
$xl_unless: 1279px;